* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

/* @media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 996px) {
  .container {
    max-width: 996px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */